body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edebeb;
}

/* header {
  background-color: #bebdbd;
  padding: 1rem;
  font-size: 50px;
}
header a {
  color: #de0909;
  font-weight: bold;
  text-decoration: none; */
.site-container {
  min-height: 100vh;
}
main {
  /* padding: 1rem; */
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f63d37;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #f63d37;
}

.product {
  border: 2px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  height: 400px;
  max-width: 320px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/* sidebar */
.navbar-brand {
  font-weight: lighter;
  font-size: 50px;
}
.navbar-brand > .brand_span {
  color: red;
  text-transform: lowercase;
  font-size: 15px;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}
.category .box-container .box {
  height: 30rem;
  flex: 1 1 40rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.category .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category .box-container .box:hover img {
  transform: scale(1.1);
}

.category .box-container .content {
  position: absolute;
  bottom: 7rem;
  left: 2rem;
}

.category .box-container .content span {
  font-size: 2rem;
  color: var(--orange);
}

.category .box-container .content h3 {
  font-size: 3rem;
  color: rgb(52, 51, 51);
  text-transform: uppercase;
  padding-top: 0.5rem;
}
.category .box-container .content h4 {
  font-size: 2rem;
  color: orange;
  text-transform: uppercase;
  padding-top: 0.5rem;
}
.shopnow {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--black-color);
  color: var(--white-color);
  font-size: 1.8rem;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
}
.shopnow:hover {
  background: var(--orange);
  color: #fff;
}
tured .box-container .box .content .stars span {
  font-size: 1.5rem;
  color: var(--black-color);
  font-weight: 300;
}

.featured .box-container .box .content p {
  color: var(--black-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.featured .box-container .box .content .price {
  color: var(--orange);
  font-size: 2.5rem;
  padding: 0.5rem 0;
  font-weight: bolder;
}

.featured .box-container .box .content .price span {
  color: var(--black-color);
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}
